# NYC Apartment Search
Instruction：
https://docs.google.com/document/d/1BYVyFBDcTywdUlanH0ysfOrNWPgl7UkqXA7NeewTzxA/edit#heading=h.bpxu7uvknnbk

## Setup

In [1]:
import json
import pathlib
import urllib.parse

import geoalchemy2 as gdb
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import shapely
from shapely.geometry import Point
import sqlalchemy as db

#display all columns.
pd.set_option('display.max_columns', None)

from sqlalchemy.orm import declarative_base

In [2]:
# Change it to a very large number for downloading the complete data
LIMIT = 1000
#LIMIT = 10000000000

In [3]:
# Any constants you might need; some have been added for you

# Where data files will be read from/written to - this should already exist
DATA_DIR = pathlib.Path("data")
DATA_311_FILE = DATA_DIR / "resource" / "erm2-nwe9.csv"
DATA_TREE_FILE = DATA_DIR / "resource" / "5rq2-4hqu.csv"
ZIPCODE_DATA_FILE = DATA_DIR / "zipcodes" / "nyc_zipcodes.shp"
ZILLOW_DATA_FILE = DATA_DIR / "zillow_rent_data.csv"

NYC_DATA_APP_TOKEN = "JkEVszrAdzm7qGLzLjvQVBnnM"
BASE_NYC_DATA_URL = "https://data.cityofnewyork.us/"
NYC_DATA_311 = "erm2-nwe9.csv"
NYC_DATA_TREES = "5rq2-4hqu.csv"

DB_NAME = "FILL_ME_IN"
DB_USER = "FILL_ME_IN"
DB_URL = f"postgres+psycopg2://{DB_USER}@localhost/{DB_NAME}"
DB_SCHEMA_FILE = "schema.sql"
# directory where DB queries for Part 3 will be saved
QUERY_DIR = pathlib.Path("queries")

In [4]:
# Make sure the QUERY_DIRECTORY exists
if not QUERY_DIR.exists():
    QUERY_DIR.mkdir()
if not (DATA_DIR/"data_cleaned").exists():    
    (DATA_DIR/"data_cleaned").mkdir()

## Part 1: Data Preprocessing
The process of cleaning & filtering the data includes:
1. Removing unnecessary columns, and only keeping columns needed to answer questions;
2. Remove invalid data points;
3. Normalize column names & column types;
4. Normalize the Spatial Reference Identifiers to `EPSG:4326`.

In [5]:
def download_nyc_csv_data(url, force=False):
    parsed_url = urllib.parse.urlparse(url)
    url_path = parsed_url.path.strip("/")
    
    filename = DATA_DIR / url_path
    
    if force or not filename.exists():
        filename.parent.mkdir(parents=True, exist_ok=True)
        print(f"Downloading {url} to {filename}...")
        
        # Download data using requests
        response = requests.get(url)
        
        # Check if the request was successful (status code 200)
        if response.status_code == 200:
            # Save the downloaded data as a csv file
            with open(filename, "wb") as f:
                f.write(response.content)
            
            print(f"Done downloading {url}.")
        else:
            print(f"Failed to download {url}. Status code: {response.status_code}")

    else:
        print(f"Reading from {filename}...")

    return filename

In [6]:
def download_and_clean_311_data(download = True):
    '''
    https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9
    
    The complete data has the following columns:
    ['location_state', 'facility_type', 'intersection_street_2', 'city',
    'location_zip', 'park_borough', 'latitude', 'road_ramp', 'created_date',
    'agency', 'park_facility_name', 'location_address', 'agency_name',
    'descriptor', 'bbl', 'location_city', 'open_data_channel_type',
    'cross_street_2', 'bridge_highway_direction', 'longitude',
    'bridge_highway_segment', 'street_name', 'incident_address',
    'address_type', 'incident_zip', 'unique_key', 'complaint_type',
    'y_coordinate_state_plane', 'status', 'bridge_highway_name',
    'location_type', 'due_date', 'taxi_company_borough',
    'taxi_pick_up_location', 'x_coordinate_state_plane',
    'resolution_description', 'community_board',
    'resolution_action_updated_date', 'intersection_street_1',
    'closed_date', 'vehicle_type', 'cross_street_1', 'borough', 'landmark',
    'location']
       
    I only downloaded `created_date`, `descriptor`, complaint_type `incident_zip`, `location` column from the database 
    where = created_date > '2015-01-01T00:00:00'.
    '''    
    # URL for getting the JSON file
    url = "https://data.cityofnewyork.us/resource/" + NYC_DATA_311+ "?$$app_token="+ NYC_DATA_APP_TOKEN + \
    f"&$select= created_date, descriptor, complaint_type, incident_zip AS zipcode, longitude, latitude &$where=created_date>'2015-01-01T00:00:00' \
    &$limit={LIMIT}"
    
    # download and save the data
    if download: 
        download_nyc_csv_data(url, force=True)
    
    # load the data.
    df = pd.read_csv(DATA_311_FILE)

    # Create a GeoDataFrame from the DataFrame
    geometry = [Point(lon, lat) for lon, lat in zip(df['longitude'], df['latitude'])]
    geodf_311_data = gpd.GeoDataFrame(df.drop(columns=['longitude','latitude']), 
                                      geometry=geometry, crs='EPSG:4326')
    
    # drop rows where there is no zipcode
    geodf_311_data = geodf_311_data.dropna(subset=['zipcode'])
    
    # conver the date object to a string with only year and month
    geodf_311_data.created_date = geodf_311_data.created_date.str[:10]
    
    #return the data object.
    return geodf_311_data

In [7]:
def download_and_clean_tree_data(download = True):
    '''
    https://dev.socrata.com/foundry/data.cityofnewyork.us/5rq2-4hqu
    
    The complete data has the following columns:
    ['nta', 'health', 'zipcode', 'latitude', 'nta_name', 'state',
    'trnk_wire', 'y_sp', 'brnch_othe', 'root_grate', 'tree_id', 'steward',
    'spc_common', 'trnk_other', 'x_sp', 'brnch_ligh', 'problems',
    'longitude', 'boro_ct', 'zip_city', 'spc_latin', 'stump_diam',
    'boroname', 'st_senate', 'user_type', 'status', 'brnch_shoe',
    'curb_loc', 'cncldist', 'guards', 'st_assem', 'cb_num', 'address',
    'sidewalk', 'root_other', 'created_at', 'borocode', 'block_id',
    'trnk_light', 'tree_dbh', 'root_stone', 'the_geom']
       
    I only downloaded `zipcode` `longitude`, `latitude` column from the database.
    '''
    # URL for getting the JSON file
    url = "https://data.cityofnewyork.us/resource/" + NYC_DATA_TREES+ "?$$app_token="+ NYC_DATA_APP_TOKEN + \
    f"&$select= zipcode, longitude, latitude&$limit={LIMIT}"
    # download and save the data
    if download:
        download_nyc_csv_data(url, force=True)
    
    # load and the data.
    df = pd.read_csv(DATA_TREE_FILE)
    
    # Create a GeoDataFrame from the DataFrame
    geometry = [Point(lon, lat) for lon, lat in zip(df['longitude'], df['latitude'])]
    geodf_tree_data = gpd.GeoDataFrame(df.drop(columns=['longitude','latitude']), 
                                       geometry=geometry, crs='EPSG:4326')

    # drop rows where there is no zipcode
    geodf_tree_data = geodf_tree_data.dropna(subset=['zipcode'])

    #return the data object.
    return geodf_tree_data

In [8]:
def load_and_clean_zipcodes(zipcode_datafile):
    '''
    `zipcode_datafile` has following columns:
    ['ZIPCODE', 'BLDGZIP', 'PO_NAME', 'POPULATION', 'AREA', 'STATE', 'COUNTY', 
     'ST_FIPS', 'CTY_FIPS', 'URL', 'SHAPE_AREA', 'SHAPE_LEN', 'geometry']    
    '''
    
    geodf_zipcode_data = gpd.read_file(zipcode_datafile)
    
    column_names = geodf_zipcode_data.columns
    # change all column names to lowercase.
    geodf_zipcode_data.columns = [element.lower() for element in column_names]
    
    # drop unnecessary columns
    geodf_zipcode_data = geodf_zipcode_data.drop(columns = ["bldgzip","shape_area","shape_len","url"])
    
    return geodf_zipcode_data.to_crs("EPSG:4326") # normalize the crs

In [9]:
def load_and_clean_zillow_data(zillow_datafile):
    dat = pd.read_csv(zillow_datafile)
    
    # We only want prices in New York City
    dat = dat[(dat.City == "New York")]
    
    # get the index
    row_indexes = dat.index
    column_names = dat.columns
    
    #house_id is the row index of the original dataset.
    df_zillow_data = pd.DataFrame(columns=['house_id', 'zipcode', 'date', 'price'])
    
    row = 0
    for i in range(len(dat)):
        zipcode = dat.iloc[i,2]
        for j in range(9,114): 
            price = dat.iloc[i,j]
            if not np.isnan(price):
                df_zillow_data.loc[row] = ({'house_id':row_indexes[i],'zipcode':zipcode, \
                                           'date':column_names[j][0:10], 'price':price})
                row = row+1
    
    return df_zillow_data

In [10]:
# If download == True, the program will download the data from the internet and cover the old data.
# For the first time runing this program, turn it True.
geodf_311_data = download_and_clean_311_data(True)
geodf_tree_data = download_and_clean_tree_data(True)
geodf_zipcode_data = load_and_clean_zipcodes(ZIPCODE_DATA_FILE)
df_zillow_data = load_and_clean_zillow_data(ZILLOW_DATA_FILE)

Downloading https://data.cityofnewyork.us/resource/erm2-nwe9.csv?$$app_token=JkEVszrAdzm7qGLzLjvQVBnnM&$select= created_date, descriptor, complaint_type, incident_zip AS zipcode, longitude, latitude &$where=created_date>'2015-01-01T00:00:00'     &$limit=1000 to data\resource\erm2-nwe9.csv...
Done downloading https://data.cityofnewyork.us/resource/erm2-nwe9.csv?$$app_token=JkEVszrAdzm7qGLzLjvQVBnnM&$select= created_date, descriptor, complaint_type, incident_zip AS zipcode, longitude, latitude &$where=created_date>'2015-01-01T00:00:00'     &$limit=1000.
Downloading https://data.cityofnewyork.us/resource/5rq2-4hqu.csv?$$app_token=JkEVszrAdzm7qGLzLjvQVBnnM&$select= zipcode, longitude, latitude&$limit=1000 to data\resource\5rq2-4hqu.csv...
Done downloading https://data.cityofnewyork.us/resource/5rq2-4hqu.csv?$$app_token=JkEVszrAdzm7qGLzLjvQVBnnM&$select= zipcode, longitude, latitude&$limit=1000.

In [11]:
# EPSG normalized
print(geodf_zipcode_data.crs)
print(geodf_311_data.crs)
print(geodf_tree_data.crs)

EPSG:4326
EPSG:4326
EPSG:4326

In [12]:
# Show basic info about each dataframe
geodf_zipcode_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   zipcode     263 non-null    object
 1   po_name     263 non-null    object
 2   population  263 non-null    float64
 3   area        263 non-null    float64
 4   state       263 non-null    object
 5   county      263 non-null    object
 6   st_fips     263 non-null    object
 7   cty_fips    263 non-null    object
 8   geometry    263 non-null    geometry
dtypes: float64(2), geometry(1), object(6)
memory usage: 18.6+ KB

In [13]:
# Show first 5 entries about each dataframe
geodf_zipcode_data.head()

,zipcode,po_name,population,area,state,county,st_fips,cty_fips,geometry
0,11436,Jamaica,18681.0,2.269930e+07,NY,Queens,36,081,"POLYGON ((-73.80585 40.68291, -73.80569 40.682..."
1,11213,Brooklyn,62426.0,2.963100e+07,NY,Kings,36,047,"POLYGON ((-73.93740 40.67973, -73.93487 40.679..."
2,11212,Brooklyn,83866.0,4.197210e+07,NY,Kings,36,047,"POLYGON ((-73.90294 40.67084, -73.90223 40.668..."
3,11225,Brooklyn,56527.0,2.369863e+07,NY,Kings,36,047,"POLYGON ((-73.95797 40.67066, -73.95576 40.670..."
4,11218,Brooklyn,72280.0,3.686880e+07,NY,Kings,36,047,"POLYGON ((-73.97208 40.65060, -73.97192 40.650..."

In [14]:
geodf_311_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 990 entries, 0 to 999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   created_date    990 non-null    object
 1   descriptor      940 non-null    object
 2   complaint_type  990 non-null    object
 3   zipcode         990 non-null    float64
 4   geometry        990 non-null    geometry
dtypes: float64(1), geometry(1), object(3)
memory usage: 46.4+ KB

In [15]:
geodf_311_data.head()

,created_date,descriptor,complaint_type,zipcode,geometry
0,2023-12-06,Derelict Vehicles,Derelict Vehicles,11423.0,POINT (-73.77700 40.70893)
1,2023-12-06,Derelict Vehicles,Derelict Vehicles,11357.0,POINT (-73.81909 40.77822)
2,2023-12-06,Loud Television,Noise - Residential,10458.0,POINT (-73.89632 40.85988)
3,2023-12-06,Commercial Overnight Parking,Illegal Parking,11357.0,POINT (-73.81744 40.77804)
4,2023-12-06,Double Parked Blocking Traffic,Illegal Parking,11214.0,POINT (-73.98806 40.59708)

In [16]:
geodf_tree_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   zipcode   1000 non-null   int64
 1   geometry  1000 non-null   geometry
dtypes: geometry(1), int64(1)
memory usage: 15.8 KB

In [17]:
geodf_tree_data.head()

   zipcode                    geometry
0    11375  POINT (-73.84422 40.72309)
1    11357  POINT (-73.81868 40.79411)
2    11211  POINT (-73.93661 40.71758)
3    11211  POINT (-73.93446 40.71354)
4    11215  POINT (-73.97598 40.66678)

In [18]:
df_zillow_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9039 entries, 0 to 9038
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   house_id  9039 non-null   int64
 1   zipcode   9039 non-null   int64
 2   date      9039 non-null   object
 3   price     9039 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 353.1+ KB

In [19]:
df_zillow_data.head()

   house_id  zipcode        date        price
0         4    11385  2015-02-28  2087.527084
1         4    11385  2015-04-30  2149.924252
2         4    11385  2015-05-31  2166.263698
3         4    11385  2015-06-30  2148.992886
4         4    11385  2015-07-31  2190.098591

In [20]:
'''
# Save Four Dataframes Onto the Disk
geodf_311_data.to_file(DATA_DIR/"data_cleaned"/"311.shp")
geodf_tree_data.to_file(DATA_DIR/"data_cleaned"/"tree.shp")

geodf_zipcode_data.to_file(DATA_DIR/"data_cleaned"/"zipcode.geojson")
df_zillow_data.to_csv(DATA_DIR/"data_cleaned"/"zillow.csv",index=False)
'''

'\n# Save Four Dataframes Onto the Disk\ngeodf_311_data.to_file(DATA_DIR/"data_cleaned"/"311.shp")\ngeodf_tree_data.to_file(DATA_DIR/"data_cleaned"/"tree.shp")\n\ngeodf_zipcode_data.to_file(DATA_DIR/"data_cleaned"/"zipcode.geojson")\ndf_zillow_data.to_csv(DATA_DIR/"data_cleaned"/"zillow.csv",index=False)\n'

In [21]:
'''
# load 4 dataframes that have been cleaned
geodf_311_data = gpd.read_file(DATA_DIR/"data_cleaned"/"311.shp")
geodf_tree_data = gpd.read_file(DATA_DIR/"data_cleaned"/"tree.shp")
geodf_zipcode_data = gpd.read_file(DATA_DIR/"data_cleaned"/"zipcode.geojson")
df_zillow_data = pd.read_csv(DATA_DIR/"data_cleaned"/"zillow.csv")
'''

'\n# load 4 dataframes that have been cleaned\ngeodf_311_data = gpd.read_file(DATA_DIR/"data_cleaned"/"311.shp")\ngeodf_tree_data = gpd.read_file(DATA_DIR/"data_cleaned"/"tree.shp")\ngeodf_zipcode_data = gpd.read_file(DATA_DIR/"data_cleaned"/"zipcode.geojson")\ndf_zillow_data = pd.read_csv(DATA_DIR/"data_cleaned"/"zillow.csv")\n'

## Part 2: Storing Data

In [ ]:
!createdb NYC_database

In [22]:
!createdb -U postgres NYC_database

createdb: 创建数据库失败: ERROR:  database "NYC_database" already exists

In [ ]:
!psql --dbname NYC_database -c 'CREATE EXTENSION postgis;'

In [92]:
!psql -U postgres -h localhost -p 5432 -d NYC_database -c "CREATE EXTENSION IF NOT EXISTS postgis;"

CREATE EXTENSION

NOTICE:  extension "postgis" already exists, skipping

### Creating Tables


These are just a couple of options to creating your tables; you can use one or the other, a different method, or a combination.

In [ ]:
username = "postgres"
password = "Km1987865190"
DB_URL = f"postgresql://{username}:{password}@localhost:5432/NYC_database"
engine = db.create_engine(DB_URL)

In [48]:
DB_URL = "postgresql://postgres:postgres@localhost:5432/postgres"
engine = db.create_engine(DB_URL)

#### SQLAlchemy

In [75]:
from sqlalchemy import Column, Integer, String, Float, Date
from geoalchemy2 import Geometry
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class Zipcode(Base):
    __tablename__ = "zipcodes"

    id = Column(Integer,primary_key=True)
    zipcode = Column(Integer)
    po_name = Column(String)
    population = Column(Float)
    area = Column(Float)
    state = Column(String)
    county = Column(String)
    st_fips = Column(Integer)
    cty_fips = Column(String)
    geometry = Column(Geometry("Point"))

class Complaint(Base):
    __tablename__ = "complaints"

    id = Column(Integer,primary_key=True)
    created_date = Column(Date)
    descriptor = Column(String)
    complaint_type = Column(String)
    zipcode = Column(Integer)
    geometry = Column(Geometry("Point"))

class Tree(Base):
    __tablename__ = "trees"

    id = Column(Integer,primary_key=True)
    zipcode = Column(Integer)
    geometry = Column(Geometry("Point"))

class Zillow(Base):
    __tablename__ = "houses"

    id = Column(Integer,primary_key=True)
    house_id = Column(Integer)
    zipcode = Column(Integer)
    date = Column(Date)
    price = Column(Float)

with open("schema.sql","w") as f:
    f.write(str(Base.metadata))

#### SQLAlchemy

In [76]:
Session = db.orm.sessionmaker(bind=engine)
session = Session()

In [77]:
#to_postgis(name, con, schema=None, if_exists='fail', index=False, index_label=None, chunksize=None, dtype=None)
geodf_zipcode_data.to_postgis('zipcodes', engine, if_exists='replace',index=True,index_label="id")
geodf_311_data.to_postgis('complaints', engine, if_exists='replace',index=True,index_label="id")
geodf_tree_data.to_postgis('trees', engine, if_exists='replace',index=True,index_label="id")
df_zillow_data.to_sql('houses', engine, if_exists='replace',index=True,index_label="id")

39

In [78]:
'''
for index, row in geodf_zipcode_data.iterrows():
    session.add(Zipcode(**row))
for index, row in geodf_311_data.iterrows():
    session.add(Complaint(**row))
for index, row in geodf_tree_data.iterrows():
    session.add(Tree(**row))
for index, row in df_zillow_data.iterrows():
    session.add(Zillow(**row))
'''

'\nfor index, row in geodf_zipcode_data.iterrows():\n    session.add(Zipcode(**row))\nfor index, row in geodf_311_data.iterrows():\n    session.add(Complaint(**row))\nfor index, row in geodf_tree_data.iterrows():\n    session.add(Tree(**row))\nfor index, row in df_zillow_data.iterrows():\n    session.add(Zillow(**row))\n'

In [79]:
session.commit()

## Part 3: Understanding the Data
Check datatypes of columns in `houses` table
``` sql
SELECT column_name, data_type FROM information_schema.columns WHERE table_name = 'houses'
```

In [62]:
# Helper function to write the queries to file
def write_query_to_file(query, outfile):
    with open (outfile,"w") as file:
        file.write(query)

### Query 1
Between October 1st, 2022 and September 30th, 2023 (inclusive), find the number of 311 complaints per zip code.

The query result should have two columns, one row per zip code, with the number of complaints in descending order.

In [98]:
QUERY_1_FILENAME = QUERY_DIR / "calm_to_live.sql"

QUERY_1 = """
SELECT 
    zipcode, 
    COUNT(id) AS complaint_count
FROM 
    complaints 
WHERE 
    created_date BETWEEN '2022-10-01' AND '2023-09-30'
GROUP BY 
    zipcode
ORDER BY
    complaint_count DESC;   
"""
QUERY_1 = """
SELECT 
    zipcode, 
    COUNT(id) AS complaint_count
FROM 
    complaints 
GROUP BY 
    zipcode
ORDER BY
    complaint_count DESC;    
"""

In [99]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_1))
calm_to_live = pd.DataFrame(result.fetchall(), columns=result.keys())
calm_to_live

     zipcode  complaint_count
0    10003.0               40
1    11365.0               21
2    11201.0               20
3    10468.0               19
4    11372.0               17
..       ...              ...
154  11001.0                1
155  11415.0                1
156  10169.0                1
157  10037.0                1
158  11367.0                1

[159 rows x 2 columns]

In [39]:
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

### Query 2 
Using just the trees table, which 10 zip codes have the most trees?

The query result should have two columns, 10 rows. The rows should be sorted by the total number of trees, descending.

In [92]:
QUERY_2_FILENAME = QUERY_DIR / "most_trees.sql"

QUERY_2 = """
SELECT 
    zipcode,
    COUNT(id) AS tree_count
FROM
    trees
GROUP BY 
    zipcode
ORDER BY
    tree_count DESC
LIMIT 10; 
"""

In [97]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_2))
most_trees = pd.DataFrame(result.fetchall(), columns=result.keys())
most_trees

   zipcode  tree_count
0    11375          38
1    11105          35
2    11215          35
3    10023          33
4    10457          31
5    11205          30
6    11226          29
7    10306          28
8    11230          24
9    10024          22

In [94]:
write_query_to_file(QUERY_2, QUERY_2_FILENAME)

### Query 3
Of the 10 zip codes with the most trees, for the month of August 2023, what is the average rent by zip code?

The query should have a JOIN statement. The query result should have two columns (not three) and 10 rows. The rows should be sorted by the total number of trees, descending. “Humanize” the rent numbers, meaning format the results as 2,879.58 instead of 2879.575128.

In [110]:
QUERY_3_FILENAME = QUERY_DIR / "avg_rent_zipcode.sql"

QUERY_3 = """
SELECT 
    Z.zipcode,
    ROUND(AVG(CAST(H.price AS NUMERIC)), 2) AS avg_rent
FROM(
    SELECT 
        zipcode,
        COUNT(id) AS tree_count
    FROM
        trees
    GROUP BY 
        zipcode
    ORDER BY
        tree_count DESC
    LIMIT 10
    ) Z    
LEFT JOIN 
    houses H
ON 
    Z.zipcode = H.zipcode    
GROUP BY 
    Z.zipcode
ORDER BY
    avg_rent DESC 
"""

In [119]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_3))
avg_rent_zipcode = pd.DataFrame(result.fetchall(), columns=result.keys())
avg_rent_zipcode

ProgrammingError: (psycopg2.errors.UndefinedFunction) function round(double precision, integer) does not exist
LINE 4:     ROUND(AVG(H.price), 2) AS avg_rent
            ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[SQL:
SELECT
    Z.zipcode,
    ROUND(AVG(H.price), 2) AS avg_rent
FROM (
    SELECT
        zipcode,
        COUNT(id) AS tree_count
    FROM
        trees
    GROUP BY
        zipcode
    ORDER BY
        tree_count DESC
    LIMIT 10
) AS Z
LEFT JOIN
    houses H
ON
    Z.zipcode = H.zipcode
GROUP BY
    Z.zipcode
ORDER BY
    avg_rent DESC;

]
(Background on this error at: https://sqlalche.me/e/14/f405)

## Part 4: Visualizing the Data

### Visualization 1

In [ ]:
# use a more descriptive name for your function
def plot_visual_1(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
def get_data_for_visual_1():
    # Query your database for the data needed.
    # You can put the data queried into a pandas/geopandas dataframe, if you wish
    raise NotImplementedError()

In [ ]:
some_dataframe = get_data_for_visual_1()
plot_visual_1(some_dataframe)