# NYC Apartment Search

## Setup

In [5]:
import json
import pathlib
import urllib.parse

import geoalchemy2 as gdb
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import shapely
import sqlalchemy as db

#display all columns.
pd.set_option('display.max_columns', None)

from sqlalchemy.orm import declarative_base

In [12]:
# Any constants you might need; some have been added for you

# Where data files will be read from/written to - this should already exist
DATA_DIR = pathlib.Path("data")
DATA_311_FILE = DATA_DIR / "resource" / "erm2-nwe9.geojson"
DATA_TREE_FILE = DATA_DIR / "resource" / "5rq2-4hqu.geojson"
ZIPCODE_DATA_FILE = DATA_DIR / "zipcodes" / "nyc_zipcodes.shp"
ZILLOW_DATA_FILE = DATA_DIR / "zillow_rent_data.csv"

NYC_DATA_APP_TOKEN = "JkEVszrAdzm7qGLzLjvQVBnnM"
BASE_NYC_DATA_URL = "https://data.cityofnewyork.us/"
NYC_DATA_311 = "erm2-nwe9.geojson"
NYC_DATA_TREES = "5rq2-4hqu.geojson"

DB_NAME = "FILL_ME_IN"
DB_USER = "FILL_ME_IN"
DB_URL = f"postgres+psycopg2://{DB_USER}@localhost/{DB_NAME}"
DB_SCHEMA_FILE = "schema.sql"
# directory where DB queries for Part 3 will be saved
QUERY_DIR = pathlib.Path("queries")

In [13]:
# Make sure the QUERY_DIRECTORY exists
if not QUERY_DIR.exists():
    QUERY_DIR.mkdir()
if not (DATA_DIR/"data_cleaned").exists():    
    (DATA_DIR/"data_cleaned").mkdir()

## Part 1: Data Preprocessing
The process of cleaning & filtering the data includes:
1. Removing unnecessary columns, and only keeping columns needed to answer questions;
2. Remove invalid data points;
3. Normalize column names & column types;
4. Normalize the Spatial Reference Identifiers to `EPSG:4326`.

In [14]:
def download_nyc_geojson_data(url, force=False):
    parsed_url = urllib.parse.urlparse(url)
    url_path = parsed_url.path.strip("/")
    
    filename = DATA_DIR / url_path
    
    if force or not filename.exists():
        filename.parent.mkdir(parents=True, exist_ok=True)
        print(f"Downloading {url} to {filename}...")
        
        # Download data using requests
        response = requests.get(url)
        
        # Check if the request was successful (status code 200)
        if response.status_code == 200:
            # Save the downloaded data as a GeoJSON file
            with open(filename, "w") as f:
                json.dump(response.json(), f)
            
            print(f"Done downloading {url}.")
        else:
            print(f"Failed to download {url}. Status code: {response.status_code}")

    else:
        print(f"Reading from {filename}...")

    return filename

In [15]:
def download_and_clean_311_data(download = True):
    '''
    https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9
    
    The complete data has the following columns:
    ['location_state', 'facility_type', 'intersection_street_2', 'city',
    'location_zip', 'park_borough', 'latitude', 'road_ramp', 'created_date',
    'agency', 'park_facility_name', 'location_address', 'agency_name',
    'descriptor', 'bbl', 'location_city', 'open_data_channel_type',
    'cross_street_2', 'bridge_highway_direction', 'longitude',
    'bridge_highway_segment', 'street_name', 'incident_address',
    'address_type', 'incident_zip', 'unique_key', 'complaint_type',
    'y_coordinate_state_plane', 'status', 'bridge_highway_name',
    'location_type', 'due_date', 'taxi_company_borough',
    'taxi_pick_up_location', 'x_coordinate_state_plane',
    'resolution_description', 'community_board',
    'resolution_action_updated_date', 'intersection_street_1',
    'closed_date', 'vehicle_type', 'cross_street_1', 'borough', 'landmark',
    'location']
       
    I only downloaded `created_date`, `descriptor`, `incident_zip`, `location` column from the database 
    where = created_date > '2015-01-01T00:00:00'.
    '''    
    # URL for getting the JSON file
    url = "https://data.cityofnewyork.us/resource/" + NYC_DATA_311+ "?$$app_token="+ NYC_DATA_APP_TOKEN + \
    "&$select= created_date, descriptor, incident_zip AS zipcode, location &$where=created_date>'2015-01-01T00:00:00' \
    &$limit=10000000"
    
    # download and save the data
    if download: 
        download_nyc_geojson_data(url, force=True)
    
    # load the data.
    geodf_311_data = gpd.read_file(DATA_311_FILE)
    
    # drop rows where there is no zipcode
    geodf_311_data = geodf_311_data.dropna(subset=['zipcode'])
    
    #conver the date object to a string with only year and month
    geodf_311_data.created_date = geodf_311_data.created_date.dt.strftime('%Y-%m')
    
    #return the data object.
    return geodf_311_data

In [16]:
def download_and_clean_tree_data(download = True):
    '''
    https://dev.socrata.com/foundry/data.cityofnewyork.us/5rq2-4hqu
    
    The complete data has the following columns:
    ['nta', 'health', 'zipcode', 'latitude', 'nta_name', 'state',
    'trnk_wire', 'y_sp', 'brnch_othe', 'root_grate', 'tree_id', 'steward',
    'spc_common', 'trnk_other', 'x_sp', 'brnch_ligh', 'problems',
    'longitude', 'boro_ct', 'zip_city', 'spc_latin', 'stump_diam',
    'boroname', 'st_senate', 'user_type', 'status', 'brnch_shoe',
    'curb_loc', 'cncldist', 'guards', 'st_assem', 'cb_num', 'address',
    'sidewalk', 'root_other', 'created_at', 'borocode', 'block_id',
    'trnk_light', 'tree_dbh', 'root_stone', 'the_geom']
       
    I only downloaded `zipcode` and `the_geom` column from the database.
    '''
    # URL for getting the JSON file
    url = "https://data.cityofnewyork.us/resource/" + NYC_DATA_TREES+ "?$$app_token="+ NYC_DATA_APP_TOKEN + \
    "&$select= zipcode,the_geom&$limit=100000000000"
    # download and save the data
    if download:
        download_nyc_geojson_data(url, force=True)
    
    # load and the data.
    geodf_tree_data = gpd.read_file(DATA_TREE_FILE)
    
    # drop rows where there is no zipcode
    geodf_tree_data = geodf_tree_data.dropna(subset=['zipcode'])

    #return the data object.
    return geodf_tree_data

In [17]:
def load_and_clean_zipcodes(zipcode_datafile):
    '''
    `zipcode_datafile` has following columns:
    ['ZIPCODE', 'BLDGZIP', 'PO_NAME', 'POPULATION', 'AREA', 'STATE', 'COUNTY', 
     'ST_FIPS', 'CTY_FIPS', 'URL', 'SHAPE_AREA', 'SHAPE_LEN', 'geometry']    
    '''
    
    geodf_zipcode_data = gpd.read_file(zipcode_datafile)
    
    column_names = geodf_zipcode_data.columns
    # change all column names to lowercase.
    geodf_zipcode_data.columns = [element.lower() for element in column_names]
    
    # drop unnecessary columns
    geodf_zipcode_data = geodf_zipcode_data.drop(columns = ["bldgzip","shape_area","shape_len","url"])
    
    return geodf_zipcode_data.to_crs("EPSG:4326") # normalize the crs

In [18]:
def load_and_clean_zillow_data(zillow_datafile):
    dat = pd.read_csv(zillow_datafile)
    
    # We only want prices in New York City
    dat = dat[(dat.City == "New York")]
    
    # get the index
    row_indexes = dat.index
    column_names = dat.columns
    
    #house_id is the row index of the original dataset.
    df_zillow_data = pd.DataFrame(columns=['house_id', 'zipcode', 'year_month', 'price'])
    
    row = 0
    for i in range(len(dat)):
        zipcode = dat.iloc[i,2]
        for j in range(9,114): 
            price = dat.iloc[i,j]
            if not np.isnan(price):
                df_zillow_data.loc[row] = ({'house_id':row_indexes[i],'zipcode':zipcode, \
                                           'year_month':column_names[j][0:7], 'price':price})
                row = row+1
    
    return df_zillow_data

In [19]:
# If download == True, the program will download the data from the internet and cover the old data.
# For the first time runing this program, turn it True.
geodf_311_data = download_and_clean_311_data(True)
geodf_tree_data = download_and_clean_tree_data(True)
geodf_zipcode_data = load_and_clean_zipcodes(ZIPCODE_DATA_FILE)
df_zillow_data = load_and_clean_zillow_data(ZILLOW_DATA_FILE)

Downloading https://data.cityofnewyork.us/resource/erm2-nwe9.geojson?$$app_token=JkEVszrAdzm7qGLzLjvQVBnnM&$select= created_date, descriptor, incident_zip AS zipcode, location &$where=created_date>'2015-01-01T00:00:00'     &$limit=10000000 to data\resource\erm2-nwe9.geojson...

KeyboardInterrupt:

In [ ]:
# EPSG normalized
print(geodf_zipcode_data.crs)
print(geodf_311_data.crs)
print(geodf_tree_data.crs)

EPSG:4326
EPSG:4326
EPSG:4326

In [ ]:
# Show basic info about each dataframe
geodf_zipcode_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   zipcode     263 non-null    object
 1   po_name     263 non-null    object
 2   population  263 non-null    float64
 3   area        263 non-null    float64
 4   state       263 non-null    object
 5   county      263 non-null    object
 6   st_fips     263 non-null    object
 7   cty_fips    263 non-null    object
 8   geometry    263 non-null    geometry
dtypes: float64(2), geometry(1), object(6)
memory usage: 18.6+ KB

In [ ]:
# Show first 5 entries about each dataframe
geodf_zipcode_data.head()

,zipcode,po_name,population,area,state,county,st_fips,cty_fips,geometry
0,11436,Jamaica,18681.0,2.269930e+07,NY,Queens,36,081,"POLYGON ((-73.80585 40.68291, -73.80569 40.682..."
1,11213,Brooklyn,62426.0,2.963100e+07,NY,Kings,36,047,"POLYGON ((-73.93740 40.67973, -73.93487 40.679..."
2,11212,Brooklyn,83866.0,4.197210e+07,NY,Kings,36,047,"POLYGON ((-73.90294 40.67084, -73.90223 40.668..."
3,11225,Brooklyn,56527.0,2.369863e+07,NY,Kings,36,047,"POLYGON ((-73.95797 40.67066, -73.95576 40.670..."
4,11218,Brooklyn,72280.0,3.686880e+07,NY,Kings,36,047,"POLYGON ((-73.97208 40.65060, -73.97192 40.650..."

In [ ]:
geodf_311_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 9830062 entries, 0 to 9999999
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   created_date  object
 1   descriptor    object
 2   zipcode       object
 3   geometry      geometry
dtypes: geometry(1), object(3)
memory usage: 375.0+ MB

In [ ]:
geodf_311_data.head()

  created_date         descriptor zipcode                    geometry
0      2023-11  Derelict Vehicles   11206  POINT (-73.95720 40.70100)
1      2023-11  Derelict Vehicles   10465  POINT (-73.81428 40.81719)
2      2023-11  Derelict Vehicles   10461  POINT (-73.82746 40.84479)
3      2023-11  Derelict Vehicles   11214  POINT (-73.99160 40.59598)
4      2023-11              Other   10028  POINT (-73.96036 40.78063)

In [ ]:
geodf_tree_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 683788 entries, 0 to 683787
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   zipcode   683788 non-null  object
 1   geometry  683788 non-null  geometry
dtypes: geometry(1), object(1)
memory usage: 10.4+ MB

In [ ]:
geodf_tree_data.head()

  zipcode                    geometry
0   11375  POINT (-73.84422 40.72309)
1   11357  POINT (-73.81868 40.79411)
2   11211  POINT (-73.93661 40.71758)
3   11211  POINT (-73.93446 40.71354)
4   11215  POINT (-73.97598 40.66678)

In [ ]:
df_zillow_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9039 entries, 0 to 9038
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   house_id    9039 non-null   int64
 1   zipcode     9039 non-null   int64
 2   year_month  9039 non-null   object
 3   price       9039 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 353.1+ KB

In [ ]:
df_zillow_data.head()

   house_id  zipcode year_month        price
0         4    11385    2015-02  2087.527084
1         4    11385    2015-04  2149.924252
2         4    11385    2015-05  2166.263698
3         4    11385    2015-06  2148.992886
4         4    11385    2015-07  2190.098591

### Save 4 dataframes onto the disk
No need to repeat the whole process for the second time.

In [ ]:
geodf_311_data.to_file(DATA_DIR/"data_cleaned"/"311.shp")
geodf_tree_data.to_file(DATA_DIR/"data_cleaned"/"tree.shp")

geodf_zipcode_data.to_file(DATA_DIR/"data_cleaned"/"zipcode.geojson")
df_zillow_data.to_csv(DATA_DIR/"data_cleaned"/"zillow.csv",index=False)

C:\Users\a\AppData\Local\Temp\ipykernel_28768\2366905300.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  geodf_311_data.to_file(DATA_DIR/"data_cleaned"/"311.shp")

## Part 2: Storing Data

### First load 4 dataframes that have been cleaned in part 1

In [42]:
geodf_311_data = gpd.read_file(DATA_DIR/"data_cleaned"/"311.shp")
geodf_tree_data = gpd.read_file(DATA_DIR/"data_cleaned"/"tree.shp")
geodf_zipcode_data = gpd.read_file(DATA_DIR/"data_cleaned"/"zipcode.geojson")
df_zillow_data = pd.read_csv(DATA_DIR/"data_cleaned"/"zillow.csv")

In [24]:
geodf_311_data

,created_date,descriptor,zipcode,geometry
0,2017-01,Derelict Vehicles,11206,POINT (-73.95720 40.70100)
1,2017-01,Derelict Vehicles,10465,POINT (-73.81428 40.81719)
2,2017-01,Derelict Vehicles,10461,POINT (-73.82746 40.84479)
3,2017-01,Derelict Vehicles,11214,POINT (-73.99160 40.59598)
4,2017-01,Other,10028,POINT (-73.96036 40.78063)
...,...,...,...,...
9999995,2017-01,Blocked Bike Lane,10019,POINT (-73.98511 40.76873)
9999996,2017-01,Partial Access,11217,POINT (-73.97668 40.67732)
9999997,2017-01,Loud Music/Party,10025,POINT (-73.96297 40.79908)
9999998,2017-01,Noise: Construction Before/After Hours (NM1),11219,POINT (-74.00824 40.62988)
9999999,2017-01,Request Large Bulky Item Collection,11418,POINT (-73.84029 40.69132)

In [25]:
DATABASE_NAME = "postgres"

In [26]:
!createdb DATABASE_NAME

^C

In [10]:
!psql --dbname DATABASE_NAME -c 'CREATE EXTENSION postgis;'

^C

### Creating Tables


These are just a couple of options to creating your tables; you can use one or the other, a different method, or a combination.

In [7]:
DB_URL = "postgresql://postgres:postgres@localhost:5432/postgres"
engine = db.create_engine(DB_URL)

#### SQLAlchemy

In [8]:
from sqlalchemy import Column, Integer, String, Float, DateTime
from geoalchemy2 import Geometry
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class Zipcode(Base):
    __tablename__ = "zipcodes"

    id = Column(Integer,primary_key=True)
    zipcode = Column(Integer)
    po_name = Column(String)
    population = Column(Float)
    area = Column(Float)
    state = Column(String)
    county = Column(String)
    st_fips = Column(Integer)
    cty_fips = Column(String)
    geometry = Column(Geometry("Point"))

class Complaint(Base):
    __tablename__ = "complaints"

    id = Column(Integer,primary_key=True)
    created_date = Column(DateTime)
    descriptor = Column(String)
    zipcode = Column(Integer)
    geometry = Column(Geometry("Point"))

class Tree(Base):
    __tablename__ = "trees"

    id = Column(Integer,primary_key=True)
    zipcode = Column(Integer)
    geometry = Column(Geometry("Point"))

class Zillow(Base):
    __tablename__ = "houses"

    id = Column(Integer,primary_key=True)
    zipcode = Column(Integer)
    state = Column(String)
    city = Column(String)
    metro = Column(String)
    county = Column(String)
    prices = Column(Float)

with open("schema.sql","w") as f:
    f.write(str(Base.metadata))

C:\Users\joyyu\AppData\Local\Temp\ipykernel_5664\3700458918.py:5: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

#### SQLAlchemy

In [9]:
Session = db.orm.sessionmaker(bind=engine)
session = Session()

In [21]:
for row in geodf_zipcode_data.iterrows():
    zipcode = Zipcode()
    session.add(zipcode)
for row in geodf_311_data.iterrows():
    complaint = Complaint()
    session.add(complaint)
for row in geodf_tree_data.iterrows():
    tree = Tree()
    session.add(tree)
for row in df_zillow_data.iterrows():
    house = Zillow()
    session.add(house)

NameError: name 'geodf_zipcode_data' is not defined

In [ ]:
session.commit()

## Part 3: Understanding the Data

### Query 1

In [ ]:
# Helper function to write the queries to file
def write_query_to_file(query, outfile):
    raise NotImplementedError()

In [ ]:
QUERY_1_FILENAME = QUERY_DIR / "FILL_ME_IN"

QUERY_1 = """
FILL_ME_IN
"""

In [ ]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_1))
    for row in result:
        print(row)

In [ ]:
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

## Part 4: Visualizing the Data

### Visualization 1

In [ ]:
# use a more descriptive name for your function
def plot_visual_1(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
def get_data_for_visual_1():
    # Query your database for the data needed.
    # You can put the data queried into a pandas/geopandas dataframe, if you wish
    raise NotImplementedError()

In [ ]:
some_dataframe = get_data_for_visual_1()
plot_visual_1(some_dataframe)